/* 初期状態では非表示 */
#song-overlay {
    position: fixed;
    inset: 0;

    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.35);

    z-index: 9999;
}

/* 表示 */
#song-overlay.active {
    display: flex;
}

/* ウィンドウ */
.song-window{

    width: 700px;
    height: 420px;

    background: #EED1D2;

    border-radius: 48px;

    padding: 55px 65px;

    box-sizing:border-box;

    position:relative;

}

/* 閉じるボタン */
#close-button {

    position: absolute;

    top: 20px;
    right: 25px;

    border: none;
    background: none;

    font-size: 40px;
    cursor: pointer;

    color: #B98C8F;
}

/* 曲名 */
#song-title{

    font-size:40px;

    font-weight:400;

    margin:0;

    color:#2B2320;

}


/* 解説 */
#song-description{

    margin: top 20px;

    font-size:25px;

    color:#2B2320;

    line-height:1.6;

}

/* ボタン */
.button-area{
    display:flex;
    justify-content:center;
    gap:35px;
}

/* リンク */
.button-area a{

     width: 290px;
    height: 90px;


    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url("../images/link-button.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:100% 100%;

    text-decoration:none;

    color:#B99A57;
    font-size:35px;

    transition:filter .2s ease;

}

.button-area a:hover{
    color:#B98C8F;
}